Package: com.ps.youhidetabs
Name: YouHideTabs
Version: 1.0.1
Architecture: iphoneos-arm
Description: Hide iOS YouTube app tabs.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
